.titulo {

    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    letter-spacing: 0.4px;
    word-spacing: -0.2px;
    color: #FF0C0C;
    font-weight: 700;
    text-decoration: overline solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;

}
