/* Contactos.css */
#divPadre-Contactos {
    text-align: center;
    padding: 20px;
    width: 100px;
}

#Contactos {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icono img {
    width: 20px;  /* Cambia el tamaño a 20px */
    height: 20px; /* Cambia el tamaño a 20px */
}
