#Contactos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    width: 100%;

}

#divPadre-Contactos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: greenyellow;
}