#nodo-padre-noticia-semanal {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px;
    justify-items: center;
}

Noticia {
    display: block; /* Asegura que cada componente se trate como un bloque */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 300px; /* Ajusta este valor según el tamaño deseado */
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff; /* Fondo blanco para que destaque */
}

Noticia img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

Noticia h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

Noticia p {
    margin: 10px 0 0 0;
    font-size: 14px;
    color: #555;
    text-align: left;
}
